.projectsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  gap: 20px;
}

@media (max-width: 768px) {
  .projectsContainer {
    flex-direction: column;
  }
}